
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;

}
body{
  background-color: #EDE9E9;
  background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'sf-pro-display_regular';
  src: url('../public/font/sf-pro-display_regular.woff2');
}
@font-face {
  font-family: 'sf-pro-text_regular';
  src: url('../public/font/sf-pro-text_regular.woff2');
}
@font-face {
  font-family: 'ESBuild-Medium';
  src: url('../public/font/ESBuild-Medium.woff');
}